@import "../../utils/_globals.scss";

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $black;
    color: $cream;
    max-width: 100vw;
    padding: 10px;
    height: 40px;
    @include mobile {
        display: flex;
    }
    &_logo {
        height: 40px;
        width: 40px;
    }
    &_list {
        display: flex;
        @include mobile {
            display: none;
            flex-direction: column;
        }
        &__item {
            list-style: none;
        }
    }
    &_hamburger {
        width: 32px;
        height: 25px;
        padding: 15px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        @include mobile {
            display: flex;
        }
        span {
            width: 100%;
            height: 3px;
            background-color: grey;
            transform-origin: right;
            transition: all 1s ease;
        }
    }
    &.active {
        .Navbar {
            &_list {
                background-color: $black;
                display: flex;
                align-items: center;
                position: absolute;
                top: 44px;
                right: 0;
                padding: 0;
                &__item {
                    padding: 34px;
                    font-size: 1.2rem;
                    &:hover {
                        background-color: grey;
                    }
                }
            }
            &_hamburger {
                span {
                    &:first-child {
                        background-color: white;
                        transform: rotate(-45deg);
                    }
                    &:last-child {
                        background-color: white;
                        transform: rotate(45deg);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                }
            }
        }
    }
}
