$black: #272727;
$cream: #fff8f0;
$blue: #1481ba;

$mwidth: 768px;
$dwidth: 1200px;

@mixin mobile {
    @media (max-width: #{$mwidth}) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: #{$mwidth}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$dwidth}) {
        @content;
    }
}
