@import "../../utils/globals.scss";

.HighlightCard {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    height: 180px;
    width: 240px;
    display: flex;
    transition: width 0.7s;
    &:hover {
        width: 450px;
        .HighlightCard_textbox {
            visibility: visible;
        }
    }

    &_img {
        width: 240px;
        border-radius: 4px;
    }
    &_textbox {
        padding-top: 10px;
        padding-left: 5px;
        border-radius: 4px;
        width: 210px;
        display: flex;
        visibility: hidden;
        flex-direction: column;
        background-color: white;
        &__title {
            margin: 0;
        }
    }
}
